.main {
    float: left;   
    background-color: black;
    color: white;
    height: 500px;
    padding: 20px;
    width: 75%;
    border: solid 3px red;
    overflow: scroll;
}

.English {
    float: right;
    max-width: 30%;
    height: auto;
    border: 1px solid blue;
}